Gunark/MyUI/Web References/MyService/MyServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://service.edu.bjut.cn/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyServiceService" targetNamespace="http://service.edu.bjut.cn/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://172.18.1.132:8080/MyService/MyServicePort?xsd=1" namespace="http://service.edu.bjut.cn/" />
    </xsd:schema>
  </types>
  <message name="downloadFile">
    <part name="parameters" element="tns:downloadFile" />
  </message>
  <message name="downloadFileResponse">
    <part name="parameters" element="tns:downloadFileResponse" />
  </message>
  <message name="getFileName">
    <part name="parameters" element="tns:getFileName" />
  </message>
  <message name="getFileNameResponse">
    <part name="parameters" element="tns:getFileNameResponse" />
  </message>
  <message name="getVersion">
    <part name="parameters" element="tns:getVersion" />
  </message>
  <message name="getVersionResponse">
    <part name="parameters" element="tns:getVersionResponse" />
  </message>
  <message name="getCurrentTime">
    <part name="parameters" element="tns:getCurrentTime" />
  </message>
  <message name="getCurrentTimeResponse">
    <part name="parameters" element="tns:getCurrentTimeResponse" />
  </message>
  <message name="getConn">
    <part name="parameters" element="tns:getConn" />
  </message>
  <message name="getConnResponse">
    <part name="parameters" element="tns:getConnResponse" />
  </message>
  <message name="uploadFile">
    <part name="parameters" element="tns:uploadFile" />
  </message>
  <message name="uploadFileResponse">
    <part name="parameters" element="tns:uploadFileResponse" />
  </message>
  <portType name="MyServiceDelegate">
    <operation name="downloadFile">
      <input message="tns:downloadFile" />
      <output message="tns:downloadFileResponse" />
    </operation>
    <operation name="getFileName">
      <input message="tns:getFileName" />
      <output message="tns:getFileNameResponse" />
    </operation>
    <operation name="getVersion">
      <input message="tns:getVersion" />
      <output message="tns:getVersionResponse" />
    </operation>
    <operation name="getCurrentTime">
      <input message="tns:getCurrentTime" />
      <output message="tns:getCurrentTimeResponse" />
    </operation>
    <operation name="getConn">
      <input message="tns:getConn" />
      <output message="tns:getConnResponse" />
    </operation>
    <operation name="uploadFile">
      <input message="tns:uploadFile" />
      <output message="tns:uploadFileResponse" />
    </operation>
  </portType>
  <binding name="MyServicePortBinding" type="tns:MyServiceDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="downloadFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getFileName">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCurrentTime">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getConn">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="uploadFile">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MyServiceService">
    <port name="MyServicePort" binding="tns:MyServicePortBinding">
      <soap:address location="http://172.18.1.132:8080/MyService/MyServicePort" />
    </port>
  </service>
</definitions>