Gunark/MyUI/Web References/WebReference/GunServices0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ns1="http://webservice.gunark.bjut.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GunServices" targetNamespace="http://webservice.gunark.bjut.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://webservice.gunark.bjut.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webservice.gunark.bjut.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="gunPositionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="gunArk" type="tns:gunArk" />
          <xs:element minOccurs="0" name="gun_Bullet_Name" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Bullet_Number" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Info_ID" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Position_Info_Id" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Position_Number" type="xs:string" />
          <xs:element name="gun_Position_Status" type="xs:int" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gunArk">
        <xs:sequence>
          <xs:element minOccurs="0" name="enterTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gunarkGateway" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkId" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkIp" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkLocation" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkName" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkPicUrl" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkPort" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkSize" type="xs:string" />
          <xs:element name="gunarkStatus" type="xs:int" />
          <xs:element minOccurs="0" name="gunarkSubnet" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkType" type="xs:string" />
          <xs:element minOccurs="0" name="gunarkVerifyStatus" type="xs:string" />
          <xs:element name="isOnline" type="xs:boolean" />
          <xs:element name="isOpen" type="xs:boolean" />
          <xs:element name="isPowerOn" type="xs:boolean" />
          <xs:element name="isSealUp" type="xs:boolean" />
          <xs:element name="isWarning" type="xs:boolean" />
          <xs:element minOccurs="0" name="numOfBullet" type="xs:string" />
          <xs:element minOccurs="0" name="numOfBulletWarehouse" type="xs:string" />
          <xs:element minOccurs="0" name="numOfGun" type="xs:string" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="unitInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="supUnit" type="xs:string" />
          <xs:element minOccurs="0" name="unitCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitFatherCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoAddress" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoCode" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoName" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoOfficeTelephone" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoRemark" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoSmallName" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfoState" type="xs:string" />
          <xs:element name="unitInfosort" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="untiList" nillable="true" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gunArkAdmin">
        <xs:sequence>
          <xs:element minOccurs="0" name="dutyBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dutyEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element name="status" type="xs:int" />
          <xs:element minOccurs="0" name="user" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="user">
        <xs:sequence>
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
          <xs:element minOccurs="0" name="userAddress" type="xs:string" />
          <xs:element minOccurs="0" name="userCard" type="xs:string" />
          <xs:element minOccurs="0" name="userEmail" type="xs:string" />
          <xs:element minOccurs="0" name="userGunLicense" type="xs:string" />
          <xs:element minOccurs="0" name="userGunLicenseDate" type="xs:string" />
          <xs:element name="userJobStatus" type="xs:int" />
          <xs:element minOccurs="0" name="userMobileTelep" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="userOfficeTelep" type="xs:string" />
          <xs:element minOccurs="0" name="userPoliceKinds" type="xs:string" />
          <xs:element minOccurs="0" name="userPoliceNumb" type="xs:string" />
          <xs:element minOccurs="0" name="userPostCode" type="xs:string" />
          <xs:element name="userPrivileges" type="xs:int" />
          <xs:element minOccurs="0" name="userPwd" type="xs:string" />
          <xs:element minOccurs="0" name="userRank" type="xs:string" />
          <xs:element minOccurs="0" name="userRealName" type="xs:string" />
          <xs:element minOccurs="0" name="userRemark" type="xs:string" />
          <xs:element name="userSex" type="xs:int" />
          <xs:element name="userState" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="taskInfoDetail">
        <xs:sequence>
          <xs:element name="admin_Confirm_Flag" type="xs:int" />
          <xs:element name="apply_Bullet_Qty" type="xs:int" />
          <xs:element minOccurs="0" name="bullet_Model" type="xs:string" />
          <xs:element name="depletion_Bullet_Qty" type="xs:int" />
          <xs:element minOccurs="0" name="depletion_Bullet_Remark" type="xs:string" />
          <xs:element name="flag_Type" type="xs:int" />
          <xs:element minOccurs="0" name="gunArk" type="tns:gunArk" />
          <xs:element minOccurs="0" name="gunInfo" type="tns:gunInfo" />
          <xs:element minOccurs="0" name="gunPositionInfo" type="tns:gunPositionInfo" />
          <xs:element minOccurs="0" name="gun_Duty_User" type="tns:user" />
          <xs:element name="leader_Confirm_Flag" type="xs:int" />
          <xs:element minOccurs="0" name="magazineInfo" type="tns:magazineInfo" />
          <xs:element minOccurs="0" name="return_GunBullet_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="return_GunBullet_User" type="tns:user" />
          <xs:element minOccurs="0" name="take_GunBullet_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="take_GunBullet_User" type="tns:user" />
          <xs:element minOccurs="0" name="taskInfo" type="tns:taskInfo" />
          <xs:element minOccurs="0" name="task_Detail_ID" type="xs:string" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
          <xs:element name="user_Confirm_Flag" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gunInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="gunArk" type="tns:gunArk" />
          <xs:element minOccurs="0" name="gun_Bullet_Location" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Bullet_Name" type="xs:string" />
          <xs:element minOccurs="0" name="gun_Bullet_Number" type="xs:string" />
          <xs:element name="gun_Bullet_Status" type="xs:int" />
          <xs:element minOccurs="0" name="gun_Info_Id" type="xs:string" />
          <xs:element minOccurs="0" name="gun_License_Id" type="xs:string" />
          <xs:element minOccurs="0" name="in_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="loss_Description" type="xs:string" />
          <xs:element minOccurs="0" name="out_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element name="syn_Flag" type="xs:int" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="magazineInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="bullet_Model" type="xs:string" />
          <xs:element name="capacity_Qty" type="xs:int" />
          <xs:element minOccurs="0" name="gunArk" type="tns:gunArk" />
          <xs:element minOccurs="0" name="magazine_Info_ID" type="xs:string" />
          <xs:element minOccurs="0" name="magazine_Name" type="xs:string" />
          <xs:element minOccurs="0" name="magazine_Number" type="xs:string" />
          <xs:element name="magazine_Status" type="xs:int" />
          <xs:element name="stock_Qty" type="xs:int" />
          <xs:element name="syn_Flag" type="xs:int" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="taskInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="apply_Unit" type="xs:string" />
          <xs:element minOccurs="0" name="gunArk" type="tns:gunArk" />
          <xs:element minOccurs="0" name="gun_Task_Id" type="xs:string" />
          <xs:element minOccurs="0" name="rejectRemark" type="xs:string" />
          <xs:element minOccurs="0" name="rejectUser" type="tns:user" />
          <xs:element minOccurs="0" name="return_GunBullet_Admin1" type="tns:user" />
          <xs:element minOccurs="0" name="return_GunBullet_Admin2" type="tns:user" />
          <xs:element minOccurs="0" name="take_GunBullet_Admin1" type="tns:user" />
          <xs:element minOccurs="0" name="take_GunBullet_Admin2" type="tns:user" />
          <xs:element minOccurs="0" name="task_Afterwards_Description" type="xs:string" />
          <xs:element minOccurs="0" name="task_Afterwards_Handle" type="xs:string" />
          <xs:element minOccurs="0" name="task_Afterwards_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Apply_Remark" type="xs:string" />
          <xs:element minOccurs="0" name="task_Apply_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Apply_User" type="tns:user" />
          <xs:element minOccurs="0" name="task_Approval_Remark" type="xs:string" />
          <xs:element minOccurs="0" name="task_Approval_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Approval_User" type="tns:user" />
          <xs:element name="task_BigType" type="xs:int" />
          <xs:element minOccurs="0" name="task_Check_Remark" type="xs:string" />
          <xs:element minOccurs="0" name="task_Check_Time" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Check_User" type="tns:user" />
          <xs:element name="task_Flag_Type" type="xs:int" />
          <xs:element minOccurs="0" name="task_ID" type="xs:string" />
          <xs:element minOccurs="0" name="task_Plan_BeginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Plan_FinishTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Property" type="xs:string" />
          <xs:element minOccurs="0" name="task_Real_BeginTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_Real_FinishTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="task_SmallType" type="xs:string" />
          <xs:element name="task_Status" type="xs:int" />
          <xs:element minOccurs="0" name="unitInfo" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fingerUser">
        <xs:sequence>
          <xs:element name="fingerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="fingerPrintId" type="xs:string" />
          <xs:element minOccurs="0" name="unitCode" type="xs:string" />
          <xs:element minOccurs="0" name="userFingerPrint" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="userPoliceNumb" type="xs:string" />
          <xs:element minOccurs="0" name="userPwd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunPosNotOnGunark" type="tns:setGunPosNotOnGunark" />
      <xs:complexType name="setGunPosNotOnGunark">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunPosNotOnGunarkResponse" type="tns:setGunPosNotOnGunarkResponse" />
      <xs:complexType name="setGunPosNotOnGunarkResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setUrgentBulletTask" type="tns:setUrgentBulletTask" />
      <xs:complexType name="setUrgentBulletTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg4" type="xs:int" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:dateTime" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
          <xs:element minOccurs="0" name="arg8" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setUrgentBulletTaskResponse" type="tns:setUrgentBulletTaskResponse" />
      <xs:complexType name="setUrgentBulletTaskResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setOnline" type="tns:setOnline" />
      <xs:complexType name="setOnline">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setOnlineResponse" type="tns:setOnlineResponse" />
      <xs:complexType name="setOnlineResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getGunPositionInfo" type="tns:getGunPositionInfo" />
      <xs:complexType name="getGunPositionInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGunPositionInfoResponse" type="tns:getGunPositionInfoResponse" />
      <xs:complexType name="getGunPositionInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gunPositionInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateTaskStatusById" type="tns:updateTaskStatusById" />
      <xs:complexType name="updateTaskStatusById">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element name="arg1" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateTaskStatusByIdResponse" type="tns:updateTaskStatusByIdResponse" />
      <xs:complexType name="updateTaskStatusByIdResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getOnDuty" type="tns:getOnDuty" />
      <xs:complexType name="getOnDuty">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getOnDutyResponse" type="tns:getOnDutyResponse" />
      <xs:complexType name="getOnDutyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gunArkAdmin" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getTaskDetail" type="tns:getTaskDetail" />
      <xs:complexType name="getTaskDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getTaskDetailResponse" type="tns:getTaskDetailResponse" />
      <xs:complexType name="getTaskDetailResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:taskInfoDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunOnPosition" type="tns:setGunOnPosition" />
      <xs:complexType name="setGunOnPosition">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunOnPositionResponse" type="tns:setGunOnPositionResponse" />
      <xs:complexType name="setGunOnPositionResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getFingerUserInfo" type="tns:getFingerUserInfo" />
      <xs:complexType name="getFingerUserInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getFingerUserInfoResponse" type="tns:getFingerUserInfoResponse" />
      <xs:complexType name="getFingerUserInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:fingerUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="closeDoor" type="tns:closeDoor" />
      <xs:complexType name="closeDoor">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="closeDoorResponse" type="tns:closeDoorResponse" />
      <xs:complexType name="closeDoorResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="uploadOpenMessage" type="tns:uploadOpenMessage" />
      <xs:complexType name="uploadOpenMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:dateTime" />
          <xs:element name="arg5" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="uploadOpenMessageResponse" type="tns:uploadOpenMessageResponse" />
      <xs:complexType name="uploadOpenMessageResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setGunNotOnPosition" type="tns:setGunNotOnPosition" />
      <xs:complexType name="setGunNotOnPosition">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunNotOnPositionResponse" type="tns:setGunNotOnPositionResponse" />
      <xs:complexType name="setGunNotOnPositionResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getUser" type="tns:getUser" />
      <xs:complexType name="getUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getUserResponse" type="tns:getUserResponse" />
      <xs:complexType name="getUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:user" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeScrap" type="tns:setGunBeScrap" />
      <xs:complexType name="setGunBeScrap">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeScrapResponse" type="tns:setGunBeScrapResponse" />
      <xs:complexType name="setGunBeScrapResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setDoingTask" type="tns:setDoingTask" />
      <xs:complexType name="setDoingTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setDoingTaskResponse" type="tns:setDoingTaskResponse" />
      <xs:complexType name="setDoingTaskResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getGunInfo" type="tns:getGunInfo" />
      <xs:complexType name="getGunInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGunInfoResponse" type="tns:getGunInfoResponse" />
      <xs:complexType name="getGunInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gunInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeSeal" type="tns:setGunBeSeal" />
      <xs:complexType name="setGunBeSeal">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeSealResponse" type="tns:setGunBeSealResponse" />
      <xs:complexType name="setGunBeSealResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getGunarkList" type="tns:getGunarkList" />
      <xs:complexType name="getGunarkList">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGunarkListResponse" type="tns:getGunarkListResponse" />
      <xs:complexType name="getGunarkListResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gunArk" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="cancelAlarm" type="tns:cancelAlarm" />
      <xs:complexType name="cancelAlarm">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="cancelAlarmResponse" type="tns:cancelAlarmResponse" />
      <xs:complexType name="cancelAlarmResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setOffline" type="tns:setOffline" />
      <xs:complexType name="setOffline">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setOfflineResponse" type="tns:setOfflineResponse" />
      <xs:complexType name="setOfflineResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setTemperature" type="tns:setTemperature" />
      <xs:complexType name="setTemperature">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element name="arg2" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setTemperatureResponse" type="tns:setTemperatureResponse" />
      <xs:complexType name="setTemperatureResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setAlarm" type="tns:setAlarm" />
      <xs:complexType name="setAlarm">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setAlarmResponse" type="tns:setAlarmResponse" />
      <xs:complexType name="setAlarmResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeAllot" type="tns:setGunBeAllot" />
      <xs:complexType name="setGunBeAllot">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunBeAllotResponse" type="tns:setGunBeAllotResponse" />
      <xs:complexType name="setGunBeAllotResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setTurn" type="tns:setTurn" />
      <xs:complexType name="setTurn">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element name="arg2" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setTurnResponse" type="tns:setTurnResponse" />
      <xs:complexType name="setTurnResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setFinishTask" type="tns:setFinishTask" />
      <xs:complexType name="setFinishTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:dateTime" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setFinishTaskResponse" type="tns:setFinishTaskResponse" />
      <xs:complexType name="setFinishTaskResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="setGunInStore" type="tns:setGunInStore" />
      <xs:complexType name="setGunInStore">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setGunInStoreResponse" type="tns:setGunInStoreResponse" />
      <xs:complexType name="setGunInStoreResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getSynGunarkInfo" type="tns:getSynGunarkInfo" />
      <xs:complexType name="getSynGunarkInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getSynGunarkInfoResponse" type="tns:getSynGunarkInfoResponse" />
      <xs:complexType name="getSynGunarkInfoResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="getUnitInfo" type="tns:getUnitInfo" />
      <xs:complexType name="getUnitInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getUnitInfoResponse" type="tns:getUnitInfoResponse" />
      <xs:complexType name="getUnitInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:unitInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getTaskInfo" type="tns:getTaskInfo" />
      <xs:complexType name="getTaskInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getTaskInfoResponse" type="tns:getTaskInfoResponse" />
      <xs:complexType name="getTaskInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:taskInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getMagazineInfo" type="tns:getMagazineInfo" />
      <xs:complexType name="getMagazineInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getMagazineInfoResponse" type="tns:getMagazineInfoResponse" />
      <xs:complexType name="getMagazineInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:magazineInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGunarkInfo" type="tns:getGunarkInfo" />
      <xs:complexType name="getGunarkInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGunarkInfoResponse" type="tns:getGunarkInfoResponse" />
      <xs:complexType name="getGunarkInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:gunArk" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setUrgentGunTask" type="tns:setUrgentGunTask" />
      <xs:complexType name="setUrgentGunTask">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:dateTime" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
          <xs:element minOccurs="0" name="arg7" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setUrgentGunTaskResponse" type="tns:setUrgentGunTaskResponse" />
      <xs:complexType name="setUrgentGunTaskResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setUrgentBulletTaskResponse">
    <wsdl:part name="parameters" element="ns1:setUrgentBulletTaskResponse" />
  </wsdl:message>
  <wsdl:message name="setGunPosNotOnGunarkResponse">
    <wsdl:part name="parameters" element="ns1:setGunPosNotOnGunarkResponse" />
  </wsdl:message>
  <wsdl:message name="updateTaskStatusById">
    <wsdl:part name="parameters" element="ns1:updateTaskStatusById" />
  </wsdl:message>
  <wsdl:message name="setGunInStore">
    <wsdl:part name="parameters" element="ns1:setGunInStore" />
  </wsdl:message>
  <wsdl:message name="setDoingTaskResponse">
    <wsdl:part name="parameters" element="ns1:setDoingTaskResponse" />
  </wsdl:message>
  <wsdl:message name="setFinishTaskResponse">
    <wsdl:part name="parameters" element="ns1:setFinishTaskResponse" />
  </wsdl:message>
  <wsdl:message name="cancelAlarm">
    <wsdl:part name="parameters" element="ns1:cancelAlarm" />
  </wsdl:message>
  <wsdl:message name="setAlarmResponse">
    <wsdl:part name="parameters" element="ns1:setAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="setOfflineResponse">
    <wsdl:part name="parameters" element="ns1:setOfflineResponse" />
  </wsdl:message>
  <wsdl:message name="getGunInfo">
    <wsdl:part name="parameters" element="ns1:getGunInfo" />
  </wsdl:message>
  <wsdl:message name="getSynGunarkInfoResponse">
    <wsdl:part name="parameters" element="ns1:getSynGunarkInfoResponse" />
  </wsdl:message>
  <wsdl:message name="setGunBeScrapResponse">
    <wsdl:part name="parameters" element="ns1:setGunBeScrapResponse" />
  </wsdl:message>
  <wsdl:message name="getGunPositionInfoResponse">
    <wsdl:part name="parameters" element="ns1:getGunPositionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="setGunBeSeal">
    <wsdl:part name="parameters" element="ns1:setGunBeSeal" />
  </wsdl:message>
  <wsdl:message name="setGunInStoreResponse">
    <wsdl:part name="parameters" element="ns1:setGunInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="getGunPositionInfo">
    <wsdl:part name="parameters" element="ns1:getGunPositionInfo" />
  </wsdl:message>
  <wsdl:message name="getTaskInfo">
    <wsdl:part name="parameters" element="ns1:getTaskInfo" />
  </wsdl:message>
  <wsdl:message name="setGunBeScrap">
    <wsdl:part name="parameters" element="ns1:setGunBeScrap" />
  </wsdl:message>
  <wsdl:message name="setUrgentGunTaskResponse">
    <wsdl:part name="parameters" element="ns1:setUrgentGunTaskResponse" />
  </wsdl:message>
  <wsdl:message name="getMagazineInfoResponse">
    <wsdl:part name="parameters" element="ns1:getMagazineInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getMagazineInfo">
    <wsdl:part name="parameters" element="ns1:getMagazineInfo" />
  </wsdl:message>
  <wsdl:message name="getFingerUserInfo">
    <wsdl:part name="parameters" element="ns1:getFingerUserInfo" />
  </wsdl:message>
  <wsdl:message name="setUrgentBulletTask">
    <wsdl:part name="parameters" element="ns1:setUrgentBulletTask" />
  </wsdl:message>
  <wsdl:message name="setOnlineResponse">
    <wsdl:part name="parameters" element="ns1:setOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="setGunBeSealResponse">
    <wsdl:part name="parameters" element="ns1:setGunBeSealResponse" />
  </wsdl:message>
  <wsdl:message name="setOffline">
    <wsdl:part name="parameters" element="ns1:setOffline" />
  </wsdl:message>
  <wsdl:message name="setDoingTask">
    <wsdl:part name="parameters" element="ns1:setDoingTask" />
  </wsdl:message>
  <wsdl:message name="setAlarm">
    <wsdl:part name="parameters" element="ns1:setAlarm" />
  </wsdl:message>
  <wsdl:message name="getGunarkListResponse">
    <wsdl:part name="parameters" element="ns1:getGunarkListResponse" />
  </wsdl:message>
  <wsdl:message name="setTemperature">
    <wsdl:part name="parameters" element="ns1:setTemperature" />
  </wsdl:message>
  <wsdl:message name="getOnDuty">
    <wsdl:part name="parameters" element="ns1:getOnDuty" />
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="ns1:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="getSynGunarkInfo">
    <wsdl:part name="parameters" element="ns1:getSynGunarkInfo" />
  </wsdl:message>
  <wsdl:message name="getOnDutyResponse">
    <wsdl:part name="parameters" element="ns1:getOnDutyResponse" />
  </wsdl:message>
  <wsdl:message name="getTaskInfoResponse">
    <wsdl:part name="parameters" element="ns1:getTaskInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="ns1:getUser" />
  </wsdl:message>
  <wsdl:message name="uploadOpenMessageResponse">
    <wsdl:part name="parameters" element="ns1:uploadOpenMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getGunInfoResponse">
    <wsdl:part name="parameters" element="ns1:getGunInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitInfoResponse">
    <wsdl:part name="parameters" element="ns1:getUnitInfoResponse" />
  </wsdl:message>
  <wsdl:message name="setGunOnPosition">
    <wsdl:part name="parameters" element="ns1:setGunOnPosition" />
  </wsdl:message>
  <wsdl:message name="setGunPosNotOnGunark">
    <wsdl:part name="parameters" element="ns1:setGunPosNotOnGunark" />
  </wsdl:message>
  <wsdl:message name="getFingerUserInfoResponse">
    <wsdl:part name="parameters" element="ns1:getFingerUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="setGunNotOnPosition">
    <wsdl:part name="parameters" element="ns1:setGunNotOnPosition" />
  </wsdl:message>
  <wsdl:message name="setGunOnPositionResponse">
    <wsdl:part name="parameters" element="ns1:setGunOnPositionResponse" />
  </wsdl:message>
  <wsdl:message name="setGunBeAllot">
    <wsdl:part name="parameters" element="ns1:setGunBeAllot" />
  </wsdl:message>
  <wsdl:message name="closeDoorResponse">
    <wsdl:part name="parameters" element="ns1:closeDoorResponse" />
  </wsdl:message>
  <wsdl:message name="setTemperatureResponse">
    <wsdl:part name="parameters" element="ns1:setTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="setGunNotOnPositionResponse">
    <wsdl:part name="parameters" element="ns1:setGunNotOnPositionResponse" />
  </wsdl:message>
  <wsdl:message name="setUrgentGunTask">
    <wsdl:part name="parameters" element="ns1:setUrgentGunTask" />
  </wsdl:message>
  <wsdl:message name="getGunarkInfo">
    <wsdl:part name="parameters" element="ns1:getGunarkInfo" />
  </wsdl:message>
  <wsdl:message name="getGunarkInfoResponse">
    <wsdl:part name="parameters" element="ns1:getGunarkInfoResponse" />
  </wsdl:message>
  <wsdl:message name="setFinishTask">
    <wsdl:part name="parameters" element="ns1:setFinishTask" />
  </wsdl:message>
  <wsdl:message name="getTaskDetailResponse">
    <wsdl:part name="parameters" element="ns1:getTaskDetailResponse" />
  </wsdl:message>
  <wsdl:message name="setOnline">
    <wsdl:part name="parameters" element="ns1:setOnline" />
  </wsdl:message>
  <wsdl:message name="updateTaskStatusByIdResponse">
    <wsdl:part name="parameters" element="ns1:updateTaskStatusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="uploadOpenMessage">
    <wsdl:part name="parameters" element="ns1:uploadOpenMessage" />
  </wsdl:message>
  <wsdl:message name="setTurnResponse">
    <wsdl:part name="parameters" element="ns1:setTurnResponse" />
  </wsdl:message>
  <wsdl:message name="getGunarkList">
    <wsdl:part name="parameters" element="ns1:getGunarkList" />
  </wsdl:message>
  <wsdl:message name="setTurn">
    <wsdl:part name="parameters" element="ns1:setTurn" />
  </wsdl:message>
  <wsdl:message name="getTaskDetail">
    <wsdl:part name="parameters" element="ns1:getTaskDetail" />
  </wsdl:message>
  <wsdl:message name="closeDoor">
    <wsdl:part name="parameters" element="ns1:closeDoor" />
  </wsdl:message>
  <wsdl:message name="setGunBeAllotResponse">
    <wsdl:part name="parameters" element="ns1:setGunBeAllotResponse" />
  </wsdl:message>
  <wsdl:message name="getUnitInfo">
    <wsdl:part name="parameters" element="ns1:getUnitInfo" />
  </wsdl:message>
  <wsdl:message name="cancelAlarmResponse">
    <wsdl:part name="parameters" element="ns1:cancelAlarmResponse" />
  </wsdl:message>
  <wsdl:portType name="GunServices">
    <wsdl:operation name="setGunPosNotOnGunark">
      <wsdl:input name="setGunPosNotOnGunark" message="ns1:setGunPosNotOnGunark" />
      <wsdl:output name="setGunPosNotOnGunarkResponse" message="ns1:setGunPosNotOnGunarkResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUrgentBulletTask">
      <wsdl:input name="setUrgentBulletTask" message="ns1:setUrgentBulletTask" />
      <wsdl:output name="setUrgentBulletTaskResponse" message="ns1:setUrgentBulletTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="setOnline">
      <wsdl:input name="setOnline" message="ns1:setOnline" />
      <wsdl:output name="setOnlineResponse" message="ns1:setOnlineResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGunPositionInfo">
      <wsdl:input name="getGunPositionInfo" message="ns1:getGunPositionInfo" />
      <wsdl:output name="getGunPositionInfoResponse" message="ns1:getGunPositionInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateTaskStatusById">
      <wsdl:input name="updateTaskStatusById" message="ns1:updateTaskStatusById" />
      <wsdl:output name="updateTaskStatusByIdResponse" message="ns1:updateTaskStatusByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOnDuty">
      <wsdl:input name="getOnDuty" message="ns1:getOnDuty" />
      <wsdl:output name="getOnDutyResponse" message="ns1:getOnDutyResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTaskDetail">
      <wsdl:input name="getTaskDetail" message="ns1:getTaskDetail" />
      <wsdl:output name="getTaskDetailResponse" message="ns1:getTaskDetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunOnPosition">
      <wsdl:input name="setGunOnPosition" message="ns1:setGunOnPosition" />
      <wsdl:output name="setGunOnPositionResponse" message="ns1:setGunOnPositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFingerUserInfo">
      <wsdl:input name="getFingerUserInfo" message="ns1:getFingerUserInfo" />
      <wsdl:output name="getFingerUserInfoResponse" message="ns1:getFingerUserInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="closeDoor">
      <wsdl:input name="closeDoor" message="ns1:closeDoor" />
      <wsdl:output name="closeDoorResponse" message="ns1:closeDoorResponse" />
    </wsdl:operation>
    <wsdl:operation name="uploadOpenMessage">
      <wsdl:input name="uploadOpenMessage" message="ns1:uploadOpenMessage" />
      <wsdl:output name="uploadOpenMessageResponse" message="ns1:uploadOpenMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunNotOnPosition">
      <wsdl:input name="setGunNotOnPosition" message="ns1:setGunNotOnPosition" />
      <wsdl:output name="setGunNotOnPositionResponse" message="ns1:setGunNotOnPositionResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="ns1:getUser" />
      <wsdl:output name="getUserResponse" message="ns1:getUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunBeScrap">
      <wsdl:input name="setGunBeScrap" message="ns1:setGunBeScrap" />
      <wsdl:output name="setGunBeScrapResponse" message="ns1:setGunBeScrapResponse" />
    </wsdl:operation>
    <wsdl:operation name="setDoingTask">
      <wsdl:input name="setDoingTask" message="ns1:setDoingTask" />
      <wsdl:output name="setDoingTaskResponse" message="ns1:setDoingTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGunInfo">
      <wsdl:input name="getGunInfo" message="ns1:getGunInfo" />
      <wsdl:output name="getGunInfoResponse" message="ns1:getGunInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunBeSeal">
      <wsdl:input name="setGunBeSeal" message="ns1:setGunBeSeal" />
      <wsdl:output name="setGunBeSealResponse" message="ns1:setGunBeSealResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGunarkList">
      <wsdl:input name="getGunarkList" message="ns1:getGunarkList" />
      <wsdl:output name="getGunarkListResponse" message="ns1:getGunarkListResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelAlarm">
      <wsdl:input name="cancelAlarm" message="ns1:cancelAlarm" />
      <wsdl:output name="cancelAlarmResponse" message="ns1:cancelAlarmResponse" />
    </wsdl:operation>
    <wsdl:operation name="setOffline">
      <wsdl:input name="setOffline" message="ns1:setOffline" />
      <wsdl:output name="setOfflineResponse" message="ns1:setOfflineResponse" />
    </wsdl:operation>
    <wsdl:operation name="setTemperature">
      <wsdl:input name="setTemperature" message="ns1:setTemperature" />
      <wsdl:output name="setTemperatureResponse" message="ns1:setTemperatureResponse" />
    </wsdl:operation>
    <wsdl:operation name="setAlarm">
      <wsdl:input name="setAlarm" message="ns1:setAlarm" />
      <wsdl:output name="setAlarmResponse" message="ns1:setAlarmResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunBeAllot">
      <wsdl:input name="setGunBeAllot" message="ns1:setGunBeAllot" />
      <wsdl:output name="setGunBeAllotResponse" message="ns1:setGunBeAllotResponse" />
    </wsdl:operation>
    <wsdl:operation name="setTurn">
      <wsdl:input name="setTurn" message="ns1:setTurn" />
      <wsdl:output name="setTurnResponse" message="ns1:setTurnResponse" />
    </wsdl:operation>
    <wsdl:operation name="setFinishTask">
      <wsdl:input name="setFinishTask" message="ns1:setFinishTask" />
      <wsdl:output name="setFinishTaskResponse" message="ns1:setFinishTaskResponse" />
    </wsdl:operation>
    <wsdl:operation name="setGunInStore">
      <wsdl:input name="setGunInStore" message="ns1:setGunInStore" />
      <wsdl:output name="setGunInStoreResponse" message="ns1:setGunInStoreResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSynGunarkInfo">
      <wsdl:input name="getSynGunarkInfo" message="ns1:getSynGunarkInfo" />
      <wsdl:output name="getSynGunarkInfoResponse" message="ns1:getSynGunarkInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUnitInfo">
      <wsdl:input name="getUnitInfo" message="ns1:getUnitInfo" />
      <wsdl:output name="getUnitInfoResponse" message="ns1:getUnitInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTaskInfo">
      <wsdl:input name="getTaskInfo" message="ns1:getTaskInfo" />
      <wsdl:output name="getTaskInfoResponse" message="ns1:getTaskInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMagazineInfo">
      <wsdl:input name="getMagazineInfo" message="ns1:getMagazineInfo" />
      <wsdl:output name="getMagazineInfoResponse" message="ns1:getMagazineInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGunarkInfo">
      <wsdl:input name="getGunarkInfo" message="ns1:getGunarkInfo" />
      <wsdl:output name="getGunarkInfoResponse" message="ns1:getGunarkInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="setUrgentGunTask">
      <wsdl:input name="setUrgentGunTask" message="ns1:setUrgentGunTask" />
      <wsdl:output name="setUrgentGunTaskResponse" message="ns1:setUrgentGunTaskResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>