Gunark/MyUI/Web References/WebReference/gunServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://webserviceImpl.gunark.bjut.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://webservice.gunark.bjut.com/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="gunServices" targetNamespace="http://webserviceImpl.gunark.bjut.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://webservice.gunark.bjut.com/" location="http://192.168.1.88:8080/ssh/services/gunServices?wsdl=GunServices.wsdl" />
  <wsdl:types />
  <wsdl:binding name="gunServicesSoapBinding" type="ns1:GunServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setGunPosNotOnGunark">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunPosNotOnGunark">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunPosNotOnGunarkResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUrgentBulletTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setUrgentBulletTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setUrgentBulletTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOnline">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setOnline">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setOnlineResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGunPositionInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGunPositionInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGunPositionInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTaskStatusById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateTaskStatusById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateTaskStatusByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOnDuty">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOnDuty">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOnDutyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskDetail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTaskDetail">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTaskDetailResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunOnPosition">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunOnPosition">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunOnPositionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFingerUserInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getFingerUserInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getFingerUserInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeDoor">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="closeDoor">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="closeDoorResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunNotOnPosition">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunNotOnPosition">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunNotOnPositionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadOpenMessage">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="uploadOpenMessage">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadOpenMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunBeScrap">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunBeScrap">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunBeScrapResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGunInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGunInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGunInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDoingTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setDoingTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setDoingTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunBeSeal">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunBeSeal">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunBeSealResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGunarkList">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGunarkList">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGunarkListResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAlarm">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="cancelAlarm">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelAlarmResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setOffline">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setOffline">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setOfflineResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTemperature">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setTemperature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTemperatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunBeAllot">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunBeAllot">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunBeAllotResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAlarm">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setAlarm">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setAlarmResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTurn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setTurn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTurnResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setFinishTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setFinishTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setFinishTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setGunInStore">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setGunInStore">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setGunInStoreResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSynGunarkInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSynGunarkInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSynGunarkInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnitInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUnitInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUnitInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTaskInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTaskInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMagazineInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMagazineInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMagazineInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGunarkInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getGunarkInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGunarkInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setUrgentGunTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setUrgentGunTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setUrgentGunTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="gunServices">
    <wsdl:port name="GunServicesImplPort" binding="tns:gunServicesSoapBinding">
      <soap:address location="http://192.168.1.88:8080/ssh/services/gunServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>